*{
    z-index: 1;
}

iframe {
    border: 1px solid black;
}

div.frame-cover {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

div.frame-cover:hover {
    background-color: rgba(0,0,0,.5);
}

.dnone {
    display: none;
}

.card.active {
    position: absolute;
    top: 0;
    left: 5vw;
    width: 90vw;
    height: 95vh;
    margin-top: 1%;
    scrollbar-width: none;
    overflow:scroll;

    .frame-cover {
        z-index: 1;
    }

    iframe {
        margin-bottom: 1%;
    }
}

.card.active * {
    z-index: 3;
}

.card.active .card-body {
    flex: none;
}

.ratio {
    aspect-ratio: 1/.5;
}

.row:last-child{
    margin-bottom: 1%;
}

.btn-close {
    float: right;
}

@media (width < 1300px){
    .ratio {
        aspect-ratio: 1/1;
    }
}