body {
    background-color:#27272a;
}
.presentation{
    background-image: url("../img/humam-npwb4wE5C4Q-unsplash.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 120vh;
}
p {
    text-align: center;
}
.mainHead {
    margin-bottom: 5%;
    
}
h1 {
    text-align: center;
    font-size: 60px;
}
span {
    font-size: x-small;
}
span.red {
    color: red;
    font-weight: bold;
}
.toolLinks li {
    font-size: 24px;
    margin: 15px auto;
}
#magic {
    cursor:crosshair;
}
.tilesContainer {
    margin: 2.5% auto;
}
.tiles {
    display: flex;
    /* flex-direction: row; */
    background-color: #f7dada;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    margin-left: 17.5%;
    border: 1px solid black;
    border-top: none;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.expand {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    margin-left: 17.5%;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.25em;
    cursor: pointer;
    user-select: none;
    background-color: #fda6a8;

}
.tile {
    display: flex;
    justify-content: center;
    text-justify: distribute;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
    width: 150px;
    background-color: #fda6a8;
    box-shadow: 0px 0px 5px 2px darkgrey;
    box-sizing: border-box;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}
.tile:hover {
    background-color: #f38b8c;
    /* box-shadow: 10px 10px 5px 2px darkgrey; */
}
.drawer {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: 1s;
}
.flk {
    display: none;
}

@media (width < 565px){
    .tile {
        width: 125px;
        height: 125px;
    }
}
