body {
    height: 94vh;
    max-height: 120vh;
    overflow: hidden;
}
nav {

    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

#news-container, #social-container, #junk-container {
    background-color: white;
    height: 60vh;
    display: flex;
    justify-content: center;
    border-radius: 0.375rem;
    opacity: 0;
    align-items: center;
    position: absolute;
    z-index: 1000;
}

.dnone {
    display: none !important;
}

.drawer {
    background: white;
    height: 95%;
    width: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-content {
    display: inherit;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.img-thumbnail {
    width: 50px;
    height: 50px;
}

.md-button {
    display: inherit;
    flex-direction: column;
    justify-content: inherit;
    align-items: inherit;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 10px black;
    width: 13%;
    min-width: fit-content;
    height: 100px;
    text-decoration: none;
    text-align: center;
    color: black;
    cursor: pointer;
    user-select: none;
}

.md-button:hover {
    background-color: var(--bs-primary);
    color: white;
    box-shadow: 1px 2px 20px black;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.md-modal {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 1500;
}

.md-modal-background {
    display: flex;
    justify-content: right;
    height: inherit;
    width: inherit;
    background-color: rgba(var(--bs-info-rgb), 0.2);
    position: inherit;
    z-index: inherit;
    cursor: pointer;
}

.md-modal-content, .md-modal-header, .md-modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    padding: 10px 10px 0px 10px;
    max-width: 860px;
    z-index: 1600;
}

.md-modal-header, .md-modal-footer {
    width:inherit;
}

.md-modal-header {
    border-radius: 15px 15px 0px 0px;
}
.md-modal-footer {
    border-radius: 0px 0px 15px 15px;
    min-height: 22px;
}

.md-modal-content {
    max-height: 470px;
    min-width: 250px;
    min-height: 250px;
    padding-bottom: 10px;
    border-radius: 0.375rem;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    font-size: 1.15rem;
}

.md-modal-background > .btn-close {
    background-color: white;
    margin: 20px 40px 0px 0px;
}

.card-footer {
    text-align: center;
}

.container.fade-in {
    opacity: 1 !important;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/mark-tegethoff-NMLv5HQZnK4-unsplash.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size:cover;
    height: 100%;
    max-height: 120vh;
}

.attr {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}