body {
    height: 94vh;
    max-height: 120vh;
    overflow: hidden;
}
nav {

    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

#news-container, #social-container, #junk-container {
    background-color: white;
    height: 60vh;
    display: flex;
    justify-content: center;
    border-radius: 0.375rem;
    opacity: 0;
    align-items: center;
    position: absolute;
    z-index: 1000;
}

.dnone {
    display: none !important;
}

.card {
    background: white;
    height: 95%;
    width: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-content {
    display: inherit;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.img-thumbnail {
    width: 50px;
    height: 50px;
}

.md-button {
    display: inherit;
    flex-direction: column;
    justify-content: inherit;
    align-items: inherit;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 10px black;
    width: 13%;
    min-width: fit-content;
    height: 100px;
    text-decoration: none;
    text-align: center;
    color: black;
    cursor: pointer;
    user-select: none;
}

.md-button:hover {
    background-color: var(--bs-primary);
    color: white;
    box-shadow: 1px 2px 20px black;
}

.container.fade-in {
    opacity: 1;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/noah-silliman-y3IwQ9hUE4A-unsplash.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size:cover;
    height: 100%;
    max-height: 120vh;
}